<div class="row" style="margin-bottom:2%;">
  <h1 class="text-center">Record Pool</h1>
</div>

<div class="row rec-img-init">
  <img src="images/Record3.png" alt="Record Image">
</div>

<div class="row"> 
  <div class="col-xs-12 col-md-12">
    <div class="username-form" id="username-form-init" style="text-align:center">
      <label for="user-id-input">Discogs Username</label>
      <input type="user-id" id="username" class="form-control" style="text-align:center">
      <input type="image" id="username-submit" class="username-submit-init" src="images/cassette-btn3.png" alt="Submit">
    </div>  
  </div>
</div>

<article class="gatekeeper">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div id="status">
        This page renders the Discogs collections and wantlists of anyone who keeps those lists public.<br /><br />
        In order to access these lists - type your own Discogs username into the box.<br /><br />
        You will only get access if your own lists are public. This site is about sharing. <br /><br />
        Please respect these intentions.<br /><br />
        Share generously, dig deeply, these are everyone's jams.<br /><br />
        <div class="link"><a href="https://www.discogs.com/settings/privacy">Visit Discogs to manage your privacy settings</a></div>
      </div>
    </div>
  </div>
</article>
