<div class="col-md-4">
    <div class="js-lazyYT" data-youtube-id={{youtube}} data-width="210" data-height="157"></div>
        <div class="link"><a href="http://www.discogs.com/release/{{discogs}}">{{title}} by {{artist}}</a></div>
</div>
